rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /UsersCollection/{UserId}{
      allow read, create, update: if true

      match /WhiskyLog/{WhiskyLogId}{
        allow read, create, update: if true
      }
    }

    match /WhiskyCollection/{WhiskyId}{
      allow read: if true

      match /WhiskyReview/{ReviewId} {
        allow read, create, update: if true
      }
    }
  }
}