rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /UsersCollection/{UserId}{
      allow read, write: if true
      
    }

    match /WhiskyCollection/{WhiskyId}{
      allow read: if true
    }

    match /WhiskyCollection/{WhiskyId}/WhiskyReview/{ReviewId}{
      allow read, create, update: if true
    }

  }
}